body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'IM Fell DW Pica SC', serif;
}

h2, h3, h4 {
	font-family: 'Cardo', serif;
}

li {
	padding: 5px;
	background-color: rgb(250,250,250);
}

nav>ul>li {
	display: inline-block;
}

a:link, a:visited {
	color: #0e9952;
	text-decoration: none;
}
a:hover, a:active {
	color: #1b5;
	text-decoration: underline;
}