/* General Styles */

body {
	font-family: 'Open Sans', sans-serif;
}

h2, h3, h4 {
	font-family: 'Cardo', serif;
	padding: 0.5em;
}

p {
	padding: 0.5em;
}

li {
	padding: 0.5em;
}

dl {
	border-bottom: 1px solid #ccc;
}
dt {
	border-top: 1px solid #ccc;
	padding: 0.5em;
	font-weight: bold;
}

dd {
	margin: 0;
	padding: 0.5em;
}

section {
	clear: both;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 1em;
}
/* Resize to fit floats */
section::after {
	content: " ";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}

a:link, a:visited {
	color: #0e9952;
	text-decoration: none;
}
a:hover, a:active {
	color: #1b5;
	text-decoration: underline;
}

i[lang="cy"]::after {
	content: "\2009" url("cy.png");
}

figure {
	float: right;
	border: 1px solid #eee;
	height: 50%;
	width: 50%;
	min-width: 10em;
	min-height: 10em;
	padding: 0.2em;
}

figure img {
	width:100%;
	height:100%;
	max-width: 30em;
}

/* Header */

header {
	position: relative;
	border-radius: 15px;
	background: #00ab39 url("Flag_of_Wales.png") left top no-repeat;
	/* padding-left: 125px; */
	color: white;
}

h1 {
	margin-left: 125px;
	border-radius: 0 15px 15px 0;
	padding: 0.5em;
	font-family: 'IM Fell DW Pica SC', serif;
	font-size: 2em;
}

#pronunciation {
	position: relative;
	padding: 0.5em 1em;
}

@media (min-width: 55em) {
	h1{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ab39+1,009b1c+50,006e2e+100 */
		background: #00ab39; /* Old browsers */
		background: -moz-linear-gradient(left, #00ab39 1%, #009b1c 50%, #006e2e 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #00ab39 1%,#009b1c 50%,#006e2e 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #00ab39 1%,#009b1c 50%,#006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ab39', endColorstr='#006e2e',GradientType=1 ); /* IE6-9 */
	}
	
	#pronunciation {
		position: absolute;
		top: 0;
		right: 1em;
	}
	
	#pronunciation p {
		display: inline-block;
		vertical-align: top;
		padding: 0 1em;
	}
}

/* footer */

footer {
	clear: both;
}

/* Navigation */

nav {
	margin: 1em auto;
	border-radius: 10px;
	background-color: #eee;
	box-shadow: 5px 5px 10px #ccc;
	width: 15em;
	transition: width 0.5s;
}

nav li {
	list-style-type: none;
}

nav>ul {
	padding: 0;
	margin: auto;
	text-align: center;
}

nav>ul>li {
	display: inline-block;
	margin: 0.5em;
	vertical-align: top;
	width: 25%;
	min-width: 10em;
	text-align: left;
}

nav a {
	display: block;
	border-left: 5px solid #0e9952;
	padding: 0.5em;
	transition: color 0.5s ease,
				background-color 0.5s ease-out;
}
nav a:link, nav a:visited {
	border-left: 5px solid #0e9952;
	color: #0e9952;
	text-decoration: none;
}
nav a:hover, nav a:active {
	border-left: 5px solid #1b5;
	background-color: #fff;
	color: #1b5;
	text-decoration: none;
}

@media (min-width: 55em) {
	nav {
		width: 50em;
	}
}